.card-container {
    border-radius: 16px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 400px;
    margin: 2rem auto;
    border: 1px solid #f0f0f0;
}

footer {
    position: fixed;
    padding: 15px;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    bottom: 0;
    width: 100%;
    align-items: space;
    gap: 20px;
}

.footer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}