footer {
    position: fixed;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    bottom: 0;
    width: 100%;
    gap: 25px;
    list-style: none;
    padding: 0;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 16px;
    margin-bottom: 50px;
    gap: 25px 15px;
}

footer a:hover {
    background-color: rgb(161, 251, 221);
    transition: 0.5s ease;
}

.footer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid black;
}

li {
    list-style: none;
    gap: 25px;
    margin: 20px;
}

form {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.1), 0 8px 20px -8px rgba(0, 0, 0, 0.1);
    border: 1px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease;
}

input:hover {
    transform: translateY(-4px);
}

select {
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 10px;
    border: none;
}

select:hover {
    transition: 0.5s;
    transform: translateY(-4px);
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

p {
    text-align: center;
    font-weight: bold;
}

.navbar {
    justify-content: center;
    display: flex;
    gap: 20px;
    background: rgb(130, 218, 189);
    padding: 10px 20px;
    border-radius: 20px
}

.nav-item {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.5s ease;
}

.nav-item:hover {
    background-color: rgb(212, 236, 236);
    transform: translateY(-2px);
}

.wave span {
    display: inline-block;
    transition: transform 0.1s ease;
}

.wave span:hover {
    transform: translateY(-5px);
    color: rgb(160, 194, 194);
}