footer {
    position: fixed;
    padding: 15px;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    bottom: 0;
    width: 100%;
    align-items: space;
    gap: 20px;
}

.footer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer ul {
    list-style: none;
    padding: 20px;
    margin: 10px;
}

form {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    border: 1px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    transition: 0.3s ease;
    border: none;
}

input:hover {
    background-color: rgb(225, 255, 180);
}

select {
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 10px;
}

select:hover {
    background-color: rgb(225, 255, 180);
    transition: 0.5s;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

p {
    text-align: center;
    font-weight: bold;
}